.configCard {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 16px;
}

.label {
    text-decoration: underline;
}

.centeredLine {
    text-align: center;
}